*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}







.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profileText .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 1.4em;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfor{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}







.contactInfor ul{
    position: relative;
}
.contactInfor ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfor ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfor ul li .text{
    font-size: 15.1px;
}
.contactInfor ul li span{
    color: #fff;
    font-weight: 300;
}




.contactInfor.Education li{
    margin-bottom: 15px;
}
.contactInfor.Education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfor.Education h4{
    color: #fff;
    font-weight: 300;
}




.contactInfor.Language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(0, 0, 0);
    display: block;
    margin-top: 5px;
}
.contactInfor.Language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}




.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1.07fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}





.About{
    margin-bottom: 50px;
}
.About:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}




.About .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.About .box .Year_company{
    min-width: 150px;
}
.About .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}


.Skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.Skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.Skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;

}
.Skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #1f7da9;

}






.Soft-Skills ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.Soft-Skills ul li{
    list-style: circle;
    color: #333;
    font-weight: 200;
    margin: 7px 0;
}





.Interest ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.Interest ul li{
    list-style: none;
    color: #333;
    font-weight: 300;
    margin: 7px 0;
}
